@import "../scss/functions.scss";
@import "../scss/mixins.scss";

.storybook-button {
  cursor: pointer;
  line-height: 1;
  padding: 10px 18px;
}

@each $name, $width in $widths {
  .storybook-button-width--#{$name} {
    width: $width;
  }
}

@each $name, $alignment in $alignments {
  .storybook-button--#{$name} {
    display: flex;
    justify-content: $alignment;
    align-items: center;
  }
}

@each $size, $borderRadius in $rounded {
  .storybook-button-rounded--#{$size} {
    border-radius: $borderRadius;
  }
}

@each $name, $color, $hoverColor, $textHover, $shadowHover, $flat,
  $flatHover in $variants
{
  .storybook-button-#{$name}--filled {
    @include button-filled($color, $hoverColor);
  }

  .storybook-button-#{$name}--outlined {
    @include button-outlined($color);
  }

  .storybook-button-#{$name}--link {
    @include button-link($color);
  }

  .storybook-button-#{$name}--flat {
    @include button-flat($flat, $flatHover, $color);
  }

  .storybook-button-#{$name}--text {
    @include button-text($color, $textHover);
  }

  .storybook-button-#{$name}--shadow {
    @include button-shadow($color, $shadowHover);
  }
}

@each $size, $fontSize, $paddingx, $paddingy in $sizes {
  .storybook-button--#{$size} {
    font-size: $fontSize;
    padding: $paddingx $paddingy;
  }
}
