@import "./colors.scss";

$rounded: (
  "xs": 4px,
  "sm": 7px,
  "md": 10px,
  "lg": 14px,
  "xl": 18px,
);

$widths: (
  "auto": auto,
  "quarter": 25%,
  "half": 50%,
  "full": 100%,
);

$alignments: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
);

$sizes: "xs" 11px 8px 30px, "sm" 12px 10px 35px, "md" 14px 11px 44px,
  "lg" 16px 12px 50px, "xl" 16px 14px 60px;

$variants: "primary" $primary $primaryHover $primaryTextHover
    $primaryShadowHover $primaryFlat $primaryFlatHover,
  "secondary" $secondary $secondaryHover $secondaryTextHover
    $secondaryShadowHover $secondaryFlat $secondaryFlatHover,
  "success" $success $successHover $successTextHover $successShadowHover
    $successFlat $successFlatHover,
  "error" $error $errorHover $errorTextHover $errorShadowHover $errorFlat
    $errorFlatHover,
  "telegram" $telegram $telegramHover $telegramTextHover $telegramShadowHover
    $telegramFlat $telegramFlatHover,
  "warning" $warning $warningHover $warningTextHover $warningShadowHover
    $warningFlat $warningFlatHover;
